{% extends 'app/base.html' %}
{% block content %}

<h1>投稿リスト</h1>

<div>
    {% for post in post_list %}
    <a href="{% url 'post_detail' pk=post.pk %}">
    <h5>{{ post.title }}</h5>
    </a>
    <hr>
    {% endfor %}
</div>

<!-- 最新投稿 -->
{% for post in post_list %}

{% endfor %}

<!-- カテゴリー表示欄 -->
<div class="col-3">
    <h5>カテゴリー</h5>
    <div>
        <ul>
            {% for grandcategory in grand_list %}
            <li>{{ grandcategory.name }}</li>
            {% endfor %}
        </ul>
        <hr>
        <ul>
            {% for parentcategory in parent_list %}
            <li>{{ parentcategory.name }}</li>
            {% endfor %}
        </ul>
        <hr>
        <ul>
            {% for category in category_list %}
            <a href="#">
                <li>{{ category.name }}</li>
            </a>
            {% endfor %}
        </ul>
        <hr>
        <ul>
            {% for grandcategory in grand_list %}
            <li>{{ grandcategory.name }}</li>
                <ul>
                    {% for parentcategory in parent_list %}
                        {% if parentcategory.grand.id == grandcategory.id %}
                            <li>{{ parentcategory.name }}</li>
                                <ul>
                                    {% for category in category_list %}
                                        {% if category.parent.id == parentcategory.id %}
                                            <a href="{% url 'app:ca-list' category.id %}">
                                                <li><soan class="{{ grandcategory.icon }}" ></soan>{{ category.name }}</li>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>

    </div>
</div>





{% endblock %}
​