{% extends 'app/base.html' %}
{% block content %}
<form action="" method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">送信</button>
</form>
{% endblock %}
​
{% block extrajs %}
<script>
    const grandCategoryElement = document.querySelector('#id_grand_category');
    const parentCategoryElement = document.querySelector('#id_parent_category');
    const categoryElement = document.querySelector('#id_category');
    const categories = {
            {% for parent in parentcategory_list %}
    '{{ parent.pk }}': [
        {% for category in parent.category_set.all %}
    {
        'pk': '{{ category.pk }}',
            'name': '{{ category.name }}'
    },
    {% endfor %}
                ],
    {% endfor %}
        };
    const categories2 = {
            {% for grand in grandcategory_list %}
    '{{ grand.pk }}': [
        {% for category in grand.parentcategory_set.all %}
    {
        'pk': '{{ category.pk }}',
            'name': '{{ category.name }}'
    },
    {% endfor %}
                ],
    {% endfor %}
        };

    const changeCategory = (select) => {
        categoryElement.parentNode.removeChild(categoryElement);
        const parentId = parentCategoryElement.value;
        const categoryList = categories[parentId];
        for (const category of categoryList) {
            const option = document.querySelector('option');
            option.value = category['pk'];
            option.textContent = category['name'];
            categoryElement.appendChild(option);
        }
        if (select !== undefined) {
            categoryElement.value = select;
        }
    };

    const changeCategory2 = (select) => {
        parentCategoryElement.parentNode.removeChild(parentCategoryElement);
        const grandId = grandCategoryElement.value;
        const categoryList2 = categories2[grandId];
        for (const category2 of categoryList2) {
            const option2 = document.querySelector('option');
            option2.value = category2['pk'];
            option2.textContent = category2['name'];
            parentCategoryElement.appendChild(option2);
        }
        if (select !== undefined) {
            parentCategoryElement.value = select;
        }
    };

    document.querySelector('#id_parent_category').addEventListener('change', () => {
        changeCategory();
    });

    document.querySelector('#id_grand_category').addEventListener('change', () => {
        changeCategory2();
        changeCategory();
    });

    if (parentCategoryElement.value) {
        const selectedCategory = categoryElement.value;
        changeCategory(selectedCategory);
    }

    if (grandCategoryElement.value) {
        const selectedParentCategory = parentCategoryElement.value;
        changeCategory2(selectedParentCategory);
    }
</script>
{% endblock %}